*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #262a2f;
}

.container{
    width: 400px;
    padding: 25px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    background-color: white;
    border-radius: 20px;
}

.container p{
    font-weight: 600;
    font-size: large;
    margin-bottom: 5px;
    
}

.container input{
    width: 100%;
    height: 25px;
    border: 1px solid;
    outline: 0;
    padding: 5px;
    margin: 1px;
    border-radius: 10px;
}

.container button{
    width: 100%;
    font-weight: 500;
    background: #494eea;
    color: #fff;
    margin: 5px;
    height: 50px;
    border:0;
    outline:0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);

}

#img.imgDisplay{
    position: relative;
    top: 80%;
    left: 50%;
    transform:translate(-20%, 0%) ;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 5px 0px 5px 0px;;
        width: 50%;
        
        
    }

    .input {
        margin-bottom: 2px;
    }

    #img.imgDisplay{
    position: relative;
    top: 80%;
    left: 50%;
    transform:translate(-25%, 0%) ;
   }
}

@media only screen and (max-width: 460px) {
    #img.imgDisplay{
        position: relative;
        top: 80%;
        left: 50%;
        transform:translate(-35%, 0%) ;
       }

}